<!-- bases/landing/card.html -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Título del Evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="modalImage" src="" alt="Imagen Ampliada" class="img-fluid">
                <div>
                    <h6>Descripción:</h6>
                    <p id="eventDescription"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#imageModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); 
        var image = button.data('image'); 
        var title = button.data('title');
        var description = button.data('description');

        var modal = $(this);
        modal.find('.modal-title').text(title);
        modal.find('#modalImage').attr('src', image);
        modal.find('#eventDescription').text(description);
    });
</script>
