{% extends 'bases/card.html' %}
{% block title %}Registrar Asistencia{% endblock %}
{% block card_title %}Registrar Asistencia{% endblock %}
{% block card_content %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Crear</button>
    <a href="{% url 'listar_usuarios_eventos' %}" class="btn btn-secondary">Cancelar</a>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  <!-- jQuery -->
{{ form.media.js }}  <!-- Incluye los scripts JS de Select2 -->

{% endblock %}
{% block content %}
  {% with container_class="container w-50" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}
