{% extends 'bases/card.html' %}
{% block title %}Crear Usuario-Familia{% endblock %}
{% block card_title %}Crear Usuario-Familia{% endblock %}
{% block card_content %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-grid gap-2 col-3 mx-auto pt-3 pb-3">
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary me-2">Guardar</button>
        <a class="btn btn-secondary" href="{% url 'listar_usuario_familia' %}">Cancelar</a>
        </div>  
    </div>
  </form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  <!-- jQuery -->
{{ form.media.js }}  <!-- Incluye los scripts JS de Select2 -->
{% endblock %}
{% block content %}
  {% with container_class="container w-50" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}
